body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #00eaff;
}

.relay-box {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
}

.btn {
  width: 150px;
  padding: 12px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: 0.2s;
}

.on {
  background: #00ff90;
  color: black;
}

.off {
  background: #ff4757;
  color: white;
}

.master {
  background: #4ade80;
  color: black;
}

.master-off {
  background: #f87171;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}

.statusBox {
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  background: #334155;
  font-size: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  transition: 0.2s ease;
}
