body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: white;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #00eaff;
  font-size: 28px;
}

.btn {
  width: 160px;
  padding: 15px;
  font-size: 20px;
  margin: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.on {
  background-color: #00ff90;
  color: black;
}

.off {
  background-color: #ff4757;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}

#statusBox {
  margin-top: 30px;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1f2937;
  display: inline-block;
  width: 220px;
  font-weight: bold;
  transition: 0.2s ease;
}
